In [7]:
"""
    f(x) = x^2 + 3x+2
    f (x,y) = x(y^2)
"""
def f(x) :
    return x**2 + 3*x+2
hasil = f(5)
hasil

42

In [8]:
type(hasil)

int

In [10]:
def g(x) :
    s = x**2 + 3*x+2
    print(s)
g(8)

90

In [10]:
l = [1,3,5,6,4]
def sortlist(l):
    l.sort()
    print(l)
sortlist(l)

[1, 3, 4, 5, 6]

In [12]:
def changeList(l):
    l.append([2,3,4])
    a = l
    print("list di dalam function", l)
    return a 
changeList(l)

list di dalam function [1, 3, 4, 5, 6, [2, 3, 4]]

[1, 3, 4, 5, 6, [2, 3, 4]]

In [13]:
l = changeList(l)

list di dalam function [1, 3, 4, 5, 6, [2, 3, 4], [2, 3, 4]]

In [14]:
l

[1, 3, 4, 5, 6, [2, 3, 4], [2, 3, 4]]

In [15]:
def changeList2(l):
    l = [1,2,3,4]
    print("l inside", l)
    
l = [3,3,3,3,3]
changeList2(l)
print(l)

l inside [1, 2, 3, 4]
[3, 3, 3, 3, 3]

In [17]:
def printinfo(nama, umur, alamat):
    print("Nama:", nama)
    print("Umur:", umur)
    print("Alamat:", alamat)
printinfo("Agus", 18, "Sudirman")

Nama: Agus
Umur: 18
Alamat: Sudirman

In [18]:
printinfo(umur=18, nama='Agus', alamat='Sudirman')

Nama: Agus
Umur: 18
Alamat: Sudirman

In [19]:
def printinfo2(nama,umur=20,alamat='Tidak Diketahui'):
    print("Nama:", nama)
    print("Umur:", umur)
    print("Alamat:", alamat)
printinfo2("Agus", 18, "Sudirman")

Nama: Agus
Umur: 18
Alamat: Sudirman

In [20]:
printinfo2(nama="Budi",alamat="Depok")

Nama: Budi
Umur: 20
Alamat: Depok

In [13]:
tambah = lambda x, y: x+y
tambah(3,5)

8

In [14]:
f = lambda x: x**2 + 3*x+2
f (7)

72

In [15]:
a = 20
f (a)

462

In [19]:
s = 10

def jumlahkan(a,b):
    global s
    s = a + b
    return s
jumlahkan (10,10)

20

In [3]:
def add (a,b):
    return a + b
add (3,9)

12

In [4]:
add_things = add(10,4)
print(add_things)

14

In [12]:
def add_and_print(a,b):
    print(a + b)

In [13]:
 add_and_print(1,3)

4

In [14]:
x = add_and_print(5,3)

8

In [15]:
print(x)

None

In [16]:
def intersection (first_word, second_word):
    result =[]
    for x in first_word:
        if x in second_word:
            result.append(x)
        return result

In [17]:
word1 = 'spam'
word2 = 'scam'
char_of_intersect = intersection(word1, word2)
print(char_of_intersect)

['s']

## Modules & Bulit-in Function

In [18]:
print(abs(123))

123

In [19]:
numbers = [1,2,3]
print(isinstance(numbers, list))

True

In [20]:
numbers = [1,2,3]
print(isinstance(numbers, dict))

False

In [21]:
number = 22
print(isinstance(number, dict))

False

In [26]:
number = 22
print(isinstance(number, list))

False

In [25]:
number = 22
print(isinstance(number, int))

True

In [30]:
numbers = [1,2,3,4,5,6,7,8,9]
print(max(numbers))

9

In [31]:
print(min(numbers))

1

In [33]:
alphas = ['a', 'r', 'y']
print(max(alphas))

y

In [34]:
print(min(alphas))

a

In [41]:
fruit = ['apel', 'anggur', 'nanas']
print (fruit.index('nanas'))

2

In [42]:
fruit = ['apel', 'anggur', 'nanas']
fruit.sort()
print(fruit)

['anggur', 'apel', 'nanas']

In [43]:
name = 'okta'
print(name)

okta

In [45]:
name.replace('t', 's')

'oksa'

In [46]:
name.capitalize()

'Okta'

In [28]:
import modulepertama
modulepertama.tambah(1,2)

3

In [26]:
import modulepertama as mp
mp.tambah(1,2)

3

In [27]:
from modulepertama import kali as k
k (5,3)

15

In [1]:
x = 10
y = 50
if (x**2 > 100 and y < 100):
    print (x,y)

In [29]:
import math as m
m.sqrt(10)

3.1622776601683795

In [30]:
m.log(10)

2.302585092994046

In [31]:
m.pi

3.141592653589793

In [32]:
m.e

2.718281828459045

In [34]:
import pkg.modulekedua as m2

In [35]:
m2.cetakinfo(nama="Agus")

Nama: Agus
Umur: 20
Alamat: Tidak Diketahui

In [36]:
import sklearn.linear_model
sklearn.linear_model

In [37]:
import pandas
pandas